<nav class="navbar navbar-toggleable-md" id="mainNavBar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#options" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mainTitle" href="#">CONTROL DE VENTA DE GAS</a>
    <div class="collapse navbar-collapse justify-content-end" id="options">
        <ul class="navbar-nav">
            <p class="dateSize">{{currentTimeandDate}}</p> 
        </ul>
    </div>
</nav>

<div class="container">  
    <!-- Main options-->
    <div class="row justify-content-center mainOptions">

        <div class="col-sm-8">
            <label class="custom-control custom-radio">
                <input type="radio" name="radio" id="radio1" class="custom-control-input" (click)="show('sale')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">VENTAS</span>
            </label>
            <label class="custom-control custom-radio">
                <input type="radio" name="radio" id="radio2" class="custom-control-input" (click)="show('pay')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">PAGOS Y BALONES</span>
            </label>
            <label class="custom-control custom-radio">
                <input type="radio" name="radio" id="radio3" class="custom-control-input" (click)="show('query')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">CONSULTAS</span>
            </label>
        </div>
    </div>


    <!-- Client Form -->
    <div class="row" *ngIf="clientForm">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Car clients-->
                    <div class="card">
                        <div class="card-header card-color">
                            CLIENTE
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                <!-- I change combo list by table and an input to search it, for save also the id client-->
                                <div class="row">
                                    <div class="col-sm-12 col-lg-8">
                                        <input type="text" name="clients" class="form-control" [(ngModel)]="clientSearch">
                                        <table class="table clients-table">
                                            <tbody>
                                                <tr *ngFor="let c of allclients | tableFilter: clientSearch" (click)="selectedClient($event)">
                                                    <td hidden>{{c._id}}</td>
                                                    <td>{{c.completename}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-4 align-self-center">
                                        <button *ngIf="newClients" type="button" class="btn btn-primary buttonNewClient" data-toggle="modal" data-target="#modalWindow" (click)="statusButton(0)">Nuevo cliente</button>
                                        <button *ngIf="modifyClients" type="button" class="btn btn-default" data-toggle="modal" data-target="#modalWindow" (click)="statusButton(1)">Modificar cliente</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12">
                    <!-- Card Ballons-->
                    <div class="card" *ngIf="ballons">
                        <div class="card-header card-color">
                            BALONES
                        </div>
                        <div class="card-block">
                            <div class="col-sm-5 ballons-sells" *ngIf="ballonsSells">
                                <label>Vendidos</label>
                                <select class=" form-control" name="sellBallons" [(ngModel)]="sellBallons">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-sm-5 ballons-received">
                                <label>Recibidos</label>
                                <select class="form-control" name="receivedBallons" [(ngModel)]="receivedBallons">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-sm-6">
            <!-- Card info -->
            <div class="card">
                <div class="card-header card-color">
                    INFORMACION DE {{client.completename}}
                </div>
                <div class="card-block card-info-client">
                    <p>Debe {{ballonsDoubt}} balon</p>
                    <p>Debe {{moneyDoubt}} soles</p>
                    <p>Llevo gas el {{lastDateSell}}</p>
                    <p>Precio de venta: {{client_fixprice}} soles</p>
                </div>
            </div>  
            <!-- Card pay -->
            <div class="form-group card-pay" *ngIf="pay">
                <div class="card">
                    <div class="card-header card-color">
                        PAGO
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12 col-lg-3">
                                <input type="text" name="totalpay" class="form-control" [(ngModel)]="payAmount">
                            </div>
                            <div class="col-sm-9">
                                <span *ngIf="payButton">
                                    <input type="button" name="Nopay" value="No pago nada" class="btn btn-primary" (click)="salePay(0)">
                                    <input type="button" name="completepay" value="Pago completo" class="btn btn-primary " (click)="salePay(1)">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <!-- card comment -->
            <div class="card" *ngIf="comment">
                <div class="card-header card-color">
                    COMENTARIO
                </div>
                <div class="card-block card-comment-block">
                    <textarea name="comment" class="form-control" [(ngModel)]="commenText"></textarea>
                </div>
            </div> 
            <!-- save -->
            <div class="row save-button" *ngIf="buttonSave">
                <input type="button" name="save" class="btn btn-primary" value="GUARDAR" (click)="saveSale()">
            </div> 
        </div>
    </div>

    <div class="card" *ngIf="history">
        <div class="card-header card-color">
            HISTORIAL
        </div>
        <div class="card-block">
            <table class="table" id="table-history">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Balones vendidos</th>
                        <th>Balones recibidos</th>
                        <th>Debio Pagar</th>
                        <th>Pago</th>
                        <th>Debe</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of histories" class="table-history-rows">
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.date}}</td>
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.gassell}}</td>
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.gasreceived}}</td>
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.totalreal}}</td>
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.totalpaid}}</td>
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.doubt}}</td>
                        <td [ngClass]="{colorBackgroundCell: history.gassell != '' }">{{history.remark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>

<!-- Modal to create and modify clients-->
<div class="modal fade" id="modalWindow">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">DATOS DEL CLIENTE</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/api/clients" method="post">
                    <input name="idclient" value="0" hidden [(ngModel)]="client.idclient">
                    <div class="form-group">
                        <label class="form-control-label">Nombre completo</label>
                        <input type="text" class="form-control" name="completename" [(ngModel)]="client.completename" style="text-transform: uppercase" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Dirección</label>
                        <input type="text" class="form-control" name="address" [(ngModel)]="client.address">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Telefono</label>
                        <input type="text" class="form-control" name="tel" [(ngModel)]="client.tel">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Precio Fijo</label>
                        <input type="text" class="form-control" name="fixprice" [(ngModel)]="client.fixprice">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="saveClient()">GUARDAR</button>
            </div>
    </div>
</div>

