label {
    font-size: 20px;
}

.ballons-sells, .ballons-received {
    display: inline-block;
}

/* For table clients */
.clients-table:hover {
    cursor: pointer;
}

.clients-table {
    height: 150px;
    position: relative;
}

.clients-table tbody {
    overflow-y: scroll;
    position: absolute;
    height: 150px;
    width: 100%;
}

.clients-table tbody tr {
    width: 100%;
    display: inline-table;
}

.colorBackgroundCell{
    background-color: #CEECF5;
} 

.dateSize {
    font-size: 20px;
    color: white;
    margin-bottom: 0px;
}

.mainTitle {
    color: white;
}

.mainOptions{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.blockTitle {
    font-weight: bold;
}
.card-color {
    background-color: #e0e0d1; /*#58ACFA;*/
    color: black;
    font-weight: bold;
}

.card-block {
    background-color: #E1E8ED; /*#58ACFA;*/
}
.buttonNewClient {
    margin-bottom: 10px;
}

.card-info-client {
    padding-bottom: 0px;
}

.save-button {
    margin-top: 20px;
}

.card-pay {
    margin-bottom: 0px;
}

.card-comment-block {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* To modify scroll*/

::-webkit-scrollbar {
    width: 2em;
    height: 2em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}