label {
    font-size: 20px;
}
.client-info {
    border: 1px solid grey;
    border-radius: 10px;

}
.ballons-sells, .ballons-received {
    display: inline-block;
}
/* For table clients */
.clients-table:hover {
    cursor: pointer;
}

.clients-table {
    height: 150px;
    position: relative;
}


.clients-table tbody {
    overflow-y: scroll;
    position: absolute;
    height: 150px;
    width: 100%;
}

.clients-table tbody tr {
    width: 100%;
    display: inline-table;
}